@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
}

.section-p1{
    padding: 40px ;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover{
    background-color: red;
    color: white;
}


body{
    background-color: peachpuff;
    width: 100%;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;    
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088178;

}

#mobile{
    display: none;
    align-items: center;
}

/* Home Page */

#hero{
    background-image: url(Images/front\ page.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 10px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h2{
    color: #088178;
}

#hero button{
    border: 0;
    color: #088178;
    background-color: transparent;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 200px;
    text-align: center;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(72, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 20px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 2;
    border-radius: 4px;
    color: #088178;
    background-color: cornsilk;
}


#product1{
    background-color: white;
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 15%;
    min-width: 100px;
    padding: 10px 12px;
    border: 1.5px solid black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: gray;
    font-size: 15px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 15px;
}

.des button{
    background-color: aqua;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;

}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/banner1.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: black;
    font-size: 20px;
}

#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: black;
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(226, 41, 41);
}



footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;  
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}



/* Shop Page */




/* Single Product */


/* Start media Query */ 

@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}




